.leave-details-container {
    padding: 2rem;
    background-color: #fce8e6;
    height: 100vh;
  }
  
  .details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .employee-badge {
    background: #a92c2392;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .status-badge.pending {
    color: #000;
  }
  
  .leave-details-card {
    background-color: #d88d94;
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 15px;
  }
  
  .leave-details-card p {
    margin-bottom: 1rem;
  }
  
  .history-button {
    background-color: #8e3029e3;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    border: none;
  }
  
  .action-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .approve-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .approve-button :hover{
    background-color: #f44336;
  }
  
  .reject-button {
    background-color: #f44336;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .remarks-section input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 12px;
    border: none;
  }
  
  .approve-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }

  .approve-button:hover{
    background-color: rgb(70, 125, 36);
  }
  
  .reject-button {
    background-color: #fd0606;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
  }

  .reject-button:hover{
    background-color: rgb(174, 30, 30);
  }
  
  