.leave-history-container {
  display: flex;
  background-color: #fde6e1;
  min-height: 100vh;
  font-family: sans-serif;
}

.main-content {
  flex: 1;
  padding: 30px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9a9a9;
  /* padding: 15px 25px; */
  border-radius: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.left-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px; 
  margin-left: auto; /* Push to the right */
}


/* .user-details {
  background-color: #c28686;  
  padding: 10px 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
}  */



/* Calendar nav */
.calendar-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.calendar-navigation button {
  background-color: #7b4f4f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

/* Calendar */
.calendar {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
}

.calendar th,
.calendar td {
  border: 1px solid #d9bebe;
  padding: 15px;
  width: 14.28%;
}

.day.SL {
  background-color: #f08d8d;
}

.day.CL {
  background-color: #81b6f5;
}

.day.EL {
  background-color: #f3e774;
}

/* Legend */
.legend {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.legend span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.SL {
  background-color: #f08d8d;
}

.CL {
  background-color: #81b6f5;
}

.EL {
  background-color: #f3e774;
}


