.navbar {
    background-color: #d19d97;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .profile {
    color: #fff;
    text-align: right;
  }
  